@media only screen and (max-width: 740px){
	
	#wrapper h3 { 
		font-size: 1em;
		background: cyan;
		text-align:center;
	}
	
	#wrapper{
		background: beige;
		font-size: 0.8em
	}
}

@media only screen and (max-widht: 570px){
	#wrapper {background: #09F; }
}

@media only screen and (max-width:480px) {
	
	#wrapper h3 { 
		font-size: 0.9em;
		background: #FFF;
		text-align: center;
	}
	
	#wrapper{
		background: grey;
		font-size: 0.7em
	}
}